body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  justify-content:space-between;
  position:relative;
}

#result{
  margin-top: 5px;
  margin-bottom: 5px;
}
#linktext {
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  position: relative;
}
#pagerank {
  font: 6px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
  position: relative;
}

#mainpgsearch {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  min-width: 200px;
}

#searchbar{
  display: flex;
  flex-direction:row;
  align-items: center;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#resultsfor{
  color: slategrey;
}

#searchpgsearch {
  margin-left: 10px;
  min-width: 200px;
  font-size: 20px;
}

#searchpgform{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:left;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;

}
